<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Fitness Stats</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/dependencies")
</head>
<body>
    @RenderBody()
    <script>
        var require = {
            baseUrl: "/Scripts"
        };
    </script>
    @Scripts.Render("~/bundles/require")
    @RenderSection("scripts", required: false)
<div class="mdl-color-text--grey-700 mdl-color--grey-100">
    <div id="content">
        <img class="logo" src="/Images/MackayFitnessLogo.png"/>
        <div class="profile mdl-card mdl-shadow--8dp">
            <img src="/Images/UltimateProPic.jpg"/>
        </div>
        @Html.Partial("~/Views/Components/StatsSummary.cshtml")
        <hr/>
        <h2>Runs</h2>
        @Html.Partial("~/Views/Components/Runkeeper.cshtml")

    </div>
</div>
<script>
    define('jquery', function () { return $; });
</script>
</body>
</html>
